@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  text-align: center;
  font-size: small;

  // display: flex;
  // justify-content: space-between;
  //align-items: center;
   nav{
    padding: -0.8rem;
  }
}
