<nb-layout>
    <nb-layout-column>
        <div class="contenido-login mx-auto">
            <div class="row">
                <div class="col-md-12">
                    <nb-card>
                        <nb-card-header class="logo-login text-center">
                            <img src="assets/images/logo.jpg" alt="logo">
                        </nb-card-header>
                        <nb-card-body>
                            <form class="container">
                                <div class="form-group">
                                    <label for="inputUsuario" class="label">Usuario</label>
                                    <input type="text" nbInput fullWidth id="inputUsuario" placeholder="Escriba su usuario">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword1" class="label">Contraseña</label>
                                    <input type="password" nbInput fullWidth id="inputPassword1" placeholder="Escriba su contraseña">
                                </div>

                                <button type="submit" nbButton shape="round" class="btn btn-block mt-4 mb-4">
                                        Iniciar Sesión
                                </button>

                            </form>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>