.main-section {
    background-color: #fff;
}

.profile-header {
    /*background: rgba(1, 115, 186, 1);
    background: -moz-linear-gradient(left, rgba(1, 115, 186, 1) 0%, rgba(23, 70, 128, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1, 115, 186, 1)), color-stop(100%, rgba(23, 70, 128, 1)));
    background: -webkit-linear-gradient(left, rgba(1, 115, 186, 1) 0%, rgba(23, 70, 128, 1) 100%);
    background: -o-linear-gradient(left, rgba(1, 115, 186, 1) 0%, rgba(23, 70, 128, 1) 100%);
    background: -ms-linear-gradient(left, rgba(1, 115, 186, 1) 0%, rgba(23, 70, 128, 1) 100%);
    background: linear-gradient(to right, rgba(1, 115, 186, 1) 0%, rgba(23, 70, 128, 1) 100%);*/
    background-color: #0170bb;
    height: 50px;
}

.user-detail {
    margin: -35px 0px 0px 0px;
}

.user-detail img {
    height: 70px;
    width: 70px;
}