<div class="row" style="margin-top: -30px;">
    <div class=" col-12 main-section text-center">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
        </div>
        <div class="row user-detail">
            <div class="col-lg-12 col-sm-12 col-12">
                <img src="assets/images/nick.png" class="rounded-circle img-thumbnail">
                <p style="line-height: 14px;margin-bottom: 4px;font-size: small; letter-spacing: -1px"><b>LUIS GABRIEL CHAVEZ RAMOS</b></p>
                <p style="line-height: 14px;margin-bottom: 4px;font-size: small; letter-spacing: 0px "><small>ANALISTA DE DESARROLLO DE SISTEMAS</small></p>
                <p style="line-height: 14px;margin-bottom: 4px;font-size: small; letter-spacing: 0px"><small><span>SUCURSAL </span>NACIONAL</small></p>
            </div>
        </div>
        <hr style="border-top: 1px solid #edf1f7;">
    </div>    
</div>