<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body>
                <div class="col-md-12 text-center mb-2">
                    <h2 class="title">Página no encontrada</h2>
                    <small class="sub-title">La página que busca no existe</small>
                </div>
                <div class="row row justify-content-center">
                    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
                        <button nbButton fullWidth (click)="goToHome()" type="button" class="home-button">
                                            Inicio
                        </button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-body">
                                <h6 class="mt-0">Media heading</h6>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                <div class="media mt-3 ml-5">
                                    <div class="media-body">
                                        <h6 class="mt-0">Media heading</h6>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    </div>
                                </div>
                                <div class="media mt-3 ml-5">
                                    <div class="media-body">
                                        <h6 class="mt-0">Media heading</h6>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-body">
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    </div>
                                    <div>
                                        Editar Agregar
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>

            </nb-card-body>
        </nb-card>
    </div>
</div>